<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/rolling.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/rolling.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ACCESSFILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/logs/access.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/logs/logistics.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 典型的日志pattern -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="ALL">
        <appender-ref ref="console" />
        <appender-ref ref="FILE" />
        <appender-ref ref="ROLLING_FILE" />
    </root>  
    <logger name="org.hibernate.SQL" level="DEBUG" />

	<logger name="org.hibernate.type" level="TRACE" />

    <!-- spring modules -->
    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.transaction" level="WARN" />
    <logger name="org.springframework.security" level="WARN" /> <!-- to debug security related issues (DEBUG) -->
    <logger name="org.springframework.web.servlet.mvc" level="WARN" /> <!-- some serialization issues are at trace level here: org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod -->

    <logger name="org.chinalbs.logistics" level="DEBUG" />
    <logger name="org.chinalbs.logistics.controller.PagesController" level="INFO" >
    	<appender-ref ref="ACCESSFILE" />  
    </logger>
</configuration>