@charset "utf-8";

/* CSS Document */
.number{ line-height:30px; margin-top:10px;}
.mycar_xiangqing{width:137px; margin-top:20px; height:36px; background:#6e783c; float:left; text-align:center; line-height:36px; border-bottom:2px solid #5f6834; border-radius:5px;}
.mycar_xiangqing a{ color:#fff;}
.mycar_lost{width:137px; margin-top:20px; height:36px; background:#c46258; float:left; text-align:center; line-height:36px; border-bottom:2px solid #b75b52; border-radius:5px;}
.mycar_lost a{ color:#fff;}

.car_list_left{ float:left; width:40%;}
.car_list_right{ float:right; width:15%;}
.car_txt,.car_txt a{ color:#6e783c;}

.content_list_right p.bill_iphone{ color:#818a56; font-size:16px; line-height:28px;}
.cont_right_list ol li.bill_money{ color:#c46258; font-size:20px; line-height:24px;}